DATABASE_URL_SUPABASE=''
DATABASE_URL=''

PAYLOAD_SECRET=''

# Ustawienia serwera Poczta w iCloud:
# https://support.apple.com/pl-pl/102525

# Logowanie się do aplikacji za pomocą konta Apple przy użyciu haseł aplikacji:
# https://support.apple.com/pl-pl/102654

# Informacje o serwerze poczty przychodzącej IMAP w usłudze Poczta w iCloud
# Nazwa serwera: imap.mail.me.com
# Wymagany protokół SSL: tak
# Jeśli użycie protokołu SSL powoduje wyświetlenie komunikatu o błędzie, zamiast tego spróbuj użyć protokołu TLS.
# Port: 993
# Nazwa użytkownika: jest to zazwyczaj ta część adresu e-mail w usłudze Poczta w iCloud, która zawiera imię lub nazwisko (na przykład janinajablonka, a nie janinajablonka@icloud.com). Jeśli aplikacja pocztowa nie może połączyć się z usługą za pomocą samej części zawierającej nazwę adresu e-mail w usłudze Poczta w iCloud, spróbuj użyć całego adresu.
# Hasło: Wygeneruj hasło specyficzne dla aplikacji.
# Informacje o serwerze poczty wychodzącej SMTP w usłudze Poczta w iCloud

# Nazwa serwera: smtp.mail.me.com
# Wymagany protokół SSL: tak
# Jeśli użycie protokołu SSL powoduje wyświetlenie komunikatu o błędzie, zamiast tego spróbuj użyć protokołu TLS lub STARTTLS.
# Port: 587
# Wymagane uwierzytelnianie SMTP: tak
# Nazwa użytkownika: Twój pełny adres e-mail w usłudze Poczta w iCloud (na przykład janinajablonka@icloud.com, nie janinajablonka).
# Hasło: użyj hasła aplikacji wygenerowanego podczas konfigurowania serwera poczty przychodzącej.

EMAIL_SMTP_USER='<your-icloud-main-email-adrress-here>'
EMAIL_FROM_NAME='<name-here>'
EMAIL_FROM='no-reply@example.com'

EMAIL_SMTP_PASSWORD='<password-here>'
EMAIL_SMTP_HOST='smtp.mail.me.com'
EMAIL_SMTP_PORT=587
EMAIL_SECURE=true
EMAIL_TLS_REJECT_UNAUTHORIZED=true
EMAIL_SKIP_VERIFY=true

REACT_EDITOR=zed

SERVER_URL="http://localhost:3000"

BLOB_STORE_ID=""
BLOB_READ_WRITE_TOKEN=""
